h1{
  text-align: center;
  margin-top: 60px;
  font-size: 70px;
}


.div2{
	font-size: 50px;
	text-align: center;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 25px 36px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div {
  font-size: 50px;
}


.signup{
  font-size: 50px;
}